body{
  margin: 0;
  padding: 0;
}
#one{
  background-image: url("./images/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 17%;
  background-position: center;
  height: 100vh;
}

#two{
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#two img{
       width: 5%;
}
#three{
  margin-top: 11%;
  justify-content: center;
}
#four{
  padding-top: 3%;
  display: block;
  text-align: center;
  margin-top: 0;
  color: white;
}

#about{
  font-size: 15px;
}
#five{
  text-align: center;
  height: 100vh;
}
.container{
  padding-top: 3%;
}
#services{
  background-image: url("./images/backgrounds/s_image.jpg");
  padding-top: 38%;
  color: white;
  width: 100%;
}
#what-we-do{
  justify-content: space-between;
  align-items: center;
}
#portfolio img{width: 100%;
               height: 100%;

}
#portfolio{
  padding-bottom: 5%;
}
#design_image,#development_image,#product_image{
  text-align: center;
}
#design,#product,#development{
   text-align: center;}
h4{
  text-align: center;
  font-weight: bold;
}
h2{
  text-align: center;
  font-weight: bold;
}
#portfolio .row{
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
#icons{
  display: flex;
  justify-content: center;
}
#contact{
  background-image: url("./images/backgrounds/c_image.jpg");
  background-size: cover;
  width: 100%;
  /* padding-top: 5%;
  padding-bottom: 15%; */
  height: 100%;
}
#icons img{
  padding: 1%;
}
#studio{
  display: block;
  text-align: center;
}
textarea{
  background:transparent
}
.form-control{
  background:transparent;
  padding-top: 3%;
}
.form-control::placeholder{
  color: white;
}
#contact h2{
  color: white;
}
#design,#product,#development{
  display: none;
  font-size: 14px;
}
.overlay1,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7,
.overlay8{
  height: 80%;
  width: 80%;
  margin: 3%;
  background: transparent;
  border: 4px solid #fff;
  color: #fff;
  text-align: left;
  padding: 10px;
  display: none;
  font-weight: bold;
}